html {
	height: 97.8%;
}

body {
	height: 97.8%;
}

#map {
	height: 97.8%;
}

.navbar-inverse {
  margin-bottom: 0px;
}

#map-container {
  height: 97.8%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
